@import url('./styles/reset.scss');
@import url('./styles/utils.scss');

html {
  scroll-behavior: smooth;
  background: #170D86;
}

body {
  position: relative;
  min-height: 100vh;
  width: 100%;
  background: #170D86;
  background: url(/images/bg.webp) no-repeat;
  background-size: cover;
  background-position: top center;
}
body.no-webp {
  background: url(/images/bg.png);
}

.banner {
  width: 375px;
  height: 468px;
}

.frames {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: -17px;
  color: #fff;
}
.frame-reward {
  width: 335px;
  height: 380px;
  background: url(/images/frame-reward.png) no-repeat;
  background-size: cover;
  padding: 54px 12px 40px 14px;

  &__title {
    line-height: 20px;
  }

  &__cards {
    margin-top: 11px;
    display: grid;
    grid-auto-flow: column; 
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(3, 72px); 
    grid-gap: 9px;
    
    .card-header {
      grid-area: 1 / 1 / 2 / -1;
      gap: 20px;
    }

    .card {
      background: rgba(255, 255, 255, 0.1);
      border-radius: 8px;
      padding-top: 4px;
      padding-bottom: 4px;

      &-content {
        gap: 10px;
      }

      &-icon {
        width: 64px;
        height: 64px;
      }

      &-title {
        font-size: 14px;
      }
      &-prize {
        font-weight: 600;
        font-size: 20px;
      }
    }
  
    
  }
}
